canvas {
    position: absolute;
    z-index: -1;
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
*{
    box-sizing: border-box;
}
body{
    position: relative;
    /*background: url(background.jpg);
    background-size: cover;*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
}

.info{
    padding: 2rem;
    position: relative;
    height: 80vh;
    width: 40vw;
    margin: 10vh;
    margin-right: 10vw;
    background: radial-gradient(circle at 125px 125px, rgba(43, 17, 85, 0.288), rgba(202, 202, 202, 0.274));
    color: rgb(216, 209, 192);
    border: 2px solid gray;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.name{
    position: relative;
    padding: 1rem;
    color: rgb(29, 28, 28);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.status{
    position: relative;
    background-color: rgb(236, 236, 236);
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 5px;
    display: flex;
}


.player1{
    text-align: center;
    width: 50%;
    background: radial-gradient(circle at 25px 25px, rgb(78, 255, 8), #000);
    box-sizing: border-box;
    padding: 0 15px 20px;
    border-top-left-radius: 5px;
    color: #ffffff;
    margin-right: 1vw;
    transition: 0.2s ease-in;
}

.player2{
    text-align: center;
    width: 50%;
    background: radial-gradient(circle at 25px 25px, rgb(255, 86, 8), #000);
    box-sizing: border-box;
    padding: 0 15px 20px;
    border-top-right-radius: 5px;
    color: #ffffff;    
}

.board{
    position: relative;
    margin: 6vh 10vh;
    margin-left: 0;
    height: 88vh;
    width: 40vw;
    border: 2px solid black;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
    border-radius: 5px;
    background: url(board.jpg);
    background-size: cover;
}

.points{
    position: absolute;
    display: inline-block;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    filter: drop-shadow(5px 10px 10px rgb(0, 0, 0));
    z-index: 1;
    overflow: hidden;
    transition: all 0.1s ease-in;
}

.line,.lines,.linec{
    position: absolute;
    height:1vh;
    border-radius: 10px;
    filter: drop-shadow(5px 10px 10px rgb(0, 0, 0));
    background: rgba(48, 46, 46, 0.644);
}

.lines{
    width: 16vw;
}

.linec{
    width: 41vh;
    transform: rotate(90deg);
}

#l221,#l222,#l621,#l622,#l421,#l422{
    width: 54vh;
    transform: rotate(50deg);
}

#l222,#l622,#l422{
    transform: rotate(130deg);
}

#l321,#l322,#l521,#l522{
    width: 41vh;
    transform: rotate(50deg);
}
#l322,#l522{
    transform: rotate(130deg);
}
#center{
    width: 84vh;
    transform: rotate(90deg);
}
#ls1,#ls7{
    width: 9vw;
}


p{
    margin-top: -2vh;
}

button{
    position: absolute;
    left: 16%;
    bottom: 12%;
    padding: 2vh 5vw;
    font-size: 20px;
    background: radial-gradient(circle at 125px 125px, rgb(8, 255, 255), rgb(7, 126, 238));
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}